// -----------------------------------------------------------------------------
// Theme variables.
// -----------------------------------------------------------------------------

// Regular ( Lato ) font family
$font-base: 'Montserrat', sans-serif;

// Header (Roboto) font family
$font-header: 'Montserrat', sans-serif;

//body contect text size
$font-size-base: 15px !default;
$font-size-small: $font-size-base - 2 !default;
$font-size-large: $font-size-base + 2 !default;
$colors: (
	'brand-primary-light': #b31b3f,
	'brand-primary': #81001e,
	'brand-primary-dark': #69011a,

	'brand-secondary-light': #eff0e0,
	'brand-secondary': #eff0e0,
	'brand-secondary-dark': #dedfcf,

	'dark-gray': #444440,
	'gray': #808080,
	'white': #fff,
	'black': #000,
	'error': #f00,
	'warning': #ffae42,
	'success': #008000,
);


$colormap: ();
@each $name, $color in $colors {
	$generated: (
		'base': $color,
	);
	$colormap: map-merge($colormap, ($name: $generated));
}
@function color($color, $type: 'base') {
	@if map-has-key($colormap, $color) && map-has-key(map-get($colormap, $color), $type) {
		$result: map-get(map-get($colormap, $color), $type);
	}
	@return $result;
}
//

// sticky sidebar positioning
$desktopPosition: 200px;
$1024Position: 160px;
$992Position: 150px;

/** General appointment btn */
$appbtnBG: color('brand-primary');
$appbtnBorder: color('brand-primary');
$appbtnText: color('white');
$appbtnBGHover: color('brand-secondary');
$appbtnBorderHover: color('brand-secondary');
$appbtnTextHover: color('white');

// breadcrumb variables
$breadCrumbBG: color('brand-secondary');
$breadCrumbText: color('white');
$breadCrumbHover: color('brand-primary');

// Heading font size
$font-size-h1: 2.2rem !default;
$font-size-h2: 2.0rem !default;
$font-size-h3: 1.8rem !default;
$font-size-h4: 1.5rem !default;
$font-size-h5: 1.3rem !default;
$font-size-h6: 1rem !default;

// Heading Typo
$headings-font-family: $font-header !default;
$headings-font-weight: 600 !default;
$headings-line-height: 1.4 !default;

/** theme border customization */
$border-radius: 0;
$border-size: 1px;
$border-style: solid;
$border-color: color('brand-primary');

/** header quick links buttons variable */
$headerButtonPadding : 10px 20px;
$headerButtonRadius: $border-radius;
$headerButtonFont: $font-header;

// Forms - default form styling
$label-color: color('black');
$label-font-weight: 400;
$label-font-family: $font-base;
$label-font-size: $font-size-small;
$input-bg: color('brand-secondary');
$input-height: 44px;
$input-color: color('black');
$input-color-placeholder: color('brand-secondary');
$input-font-size: $font-size-base;
$input-font-family: $font-base;
$input-font-weight: 400;
$input-radius: $border-radius;
$input-border-style: $border-style;
$input-border-size: $border-size;
$input-border-color: color('brand-primary');
$input-border-color-focus: color('brand-primary');
$textarea-height-base: 170px;
$button-bg: color('brand-primary');
$button-color: color('white');
$button-hover-bg: color('black');
$button-hover-color: color('white');
$button-font-size: 16px;
$button-font-weight: 700;
$button-font-case: uppercase;
$button-height: 44px;
$button-border-size: $border-size;
$button-border-style: $border-style;
$button-border-color: color('brand-primary');
$button-border-color-focus: color('black');
$button-radius: $border-radius;

/** Ninja Form with brand primary styles */
/** allocated with parent class .ninja-field--primary */
$ninjaFieldBorderColorPrimary: color('brand-primary');
$ninjaFieldBGColorPrimary: color('white');
$ninjaFieldTextColorPrimary: color('brand-primary');
$ninjaButtonBGColorPrimary: color('brand-primary');
$ninjaButtonTextColorPrimary: color('white');

/** Ninja Form with brand secondary styles */
/** allocated with parent class .ninja-field--secondary */
$ninjaFieldBorderColorSecondary: color('brand-secondary');
$ninjaFieldBGColorSecondary: color('white');
$ninjaFieldTextColorSecondary: color('brand-secondary');
$ninjaButtonBGColorSecondary: color('brand-secondary');
$ninjaButtonTextColorSecondary: color('white');

 //Container's maximum width
$wrapper-width: 1170px !default;

//text-transform property
$texttransform: (
	"uppercase",
	"capitalize",
	"lowercase",
	"none"
);

// spacing : padding and margin
$spaceamounts: (
	0,
	5,
	10,
	15,
	20,
);

// text alignment
$textalign: (
	"left",
	"right",
	"center",
	"justify"
);

// media query breakpoints.
$breakpoints: (
	'1366': 1366px,
	'1200': 1200px,
	'1024': 1024px,
	'992': 992px,
	'767': 767px,
	'640': 640px,
	'568': 568px,
	'480': 480px,
);

/** body data */
$basesize: 16px;
$bodyColor: lighten(color('gray'), 35% );
$bodyPartsBG: color('brand-secondary');
$bodyPartsBorder: color('brand-secondary');
$bodyPartsHoverBG: color('brand-secondary');
$bodyPartsHoverBorder: color('brand-secondary');
$twopartyes: no;

/** PT wired app Page */
$titleColor: color('brand-primary');
$appTextColor: color('brand-secondary');
// login buton
$loginbtnColor: color('brand-secondary');
$loginbtnColorHover: color('brand-primary');
// IOS button
$IOSbtnBG: color('black');
$IOSbtnBGHover: color('brand-primary');
$IOSbtnColor: color('white');
$IOSbtnColorHover: color('white');
//Google Play Button
$GplaybtnBG: color('black');
$GplaybtnBGHover: color('brand-primary');
$GplaybtnColor: color('white');
$GplaybtnColorHover: color('white');
// Feature section BG
$featureSectionBG: color('brand-primary');


/** Testimonials page quote color */
$testimonialsPageQuoteColor: color('brand-primary');

/** sidebar variables */
$sidebarTitle: color('brand-primary');

/** social buttons in footer */
$footerSocialBG: transparent;
$footerSocialColor: color('brand-primary');
$footerSocialBGHover: color('brand-primary');
$footerSocialColorHover: color('white');

/** social buttons in Location details page */
$locationSidebarBG: color('brand-primary');
$locationSidebarColor: color('white');
$locationSidebarBGHover : color('brand-secondary');
$locationSidebarColorHover : color('white');
