/** inner page page.php */
.content {
	background: color('brand-secondary');

	> .wrapper {
		display: flex;

		.mid {
			width: 100%;
			background: color('white');
			padding: 20px;
			border-radius: 8px;
			overflow: hidden !important;

			&.no-left-radius {
				border-top-left-radius: 0;
			}
		}
	}
}
/* margin: 30px 0 0;*/
/*.content.top-banner {margin: 0;}*/
.sidebar {
	.widgettitle {
		background-color: $sidebarTitle;
	}

	ul {
		> li {
			&.widget {
				border-bottom: 20px solid lighten(color('gray'), 46%);
				line-height: 1;
				padding-top: 0;
				border-top-left-radius: $border-radius;
				border-top-right-radius: $border-radius;
				overflow: hidden;
			}

			&:last-child {
				padding-bottom: 0;
				border-bottom: 0;
			}
		}
	}

	ul.side-icon-links {
		list-style: none;

		li {
			border: 1px solid color('brand-primary');
			border-top: 0;
			padding-top: 0;
			line-height: 1;

			.side-menu-icon {
				width: 26px;
				height: 26px;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-right: 15px;

				svg {
					fill: color('brand-primary');
					-webkit-transition: 0.5s ease all;
					-o-transition: 0.5s ease all;
					transition: 0.5s ease all;
				}
			}

			a {
				display: flex;
				align-items: center;
				color: color('brand-primary');
				text-transform: uppercase;
				font-size: 16px;
				padding: 12px 15px;
				font-weight: 700;
				-webkit-transition: 0.5s ease all;
				-o-transition: 0.5s ease all;
				transition: 0.5s ease all;

				&:hover {
					background: color('brand-primary');
					color: color('white');

					svg {
						fill: color('white');
					}
				}
			}
		}
	}
}

/** date design with calendar svg */

.navigation {
	width: 100%;
}

.entry {
	ul {
		margin-left: 0;
		padding: 0 0 0 10px;
	}

	ul li a {
		word-break: break-word;
	}

	ol {
		padding: 0 0 0 35px;
		margin: 0;
	}
}
/** inner page main banner */
#content-area > .innbaner {
	@extend .position-relative;

	img {
		@extend .cell-12;
	}
}
/** inner page content banner */
.content-banner {
	margin-bottom: 20px;
	width: 100%;
	height: auto;
	display: block;
	position: relative;

	img {
		width: 100%;
	}
}

/** pagination */
.paging-navigation h1 {
	display: none;
}

.pagination {
	a,
	span {
		background: color('white');
		border-radius: 5px;
		color: color('gray-dark-700');
		display: inline-block;
		line-height: 14px;
		padding: 10px 12px;
		margin: 0 5px;
	}

	.current,
	a:hover {
		background: color('brand-primary');
		color: color('white');
	}

	span {
		&.nav-next-text,
		&.nav-prev-text {
			font-size: 0;
			display: none;
		}
	}

	.nav-links {
		display: flex;
		align-items: center;
		justify-content: center;

		.next,
		.prev {
			padding: 5px 5.5px;
		}

		.next:hover,
		.prev:hover {
			fill: color('white');
		}
	}
}

.navigation.pagination {
	h2.screen-reader-text {
		display: none;
	}
	padding-top: 10px;
	border-top: 1px solid lighten(color('gray'), 25%);
	width: 100%;
}
/** breadcrumbs */
#breadcrumbs {
	margin-bottom: 0;
}

.breadcrumbs {
	.inner-bc {
		position: relative;
		background: $breadCrumbBG;
		align-items: center;
		display: inline-flex;
		max-width: calc(100% - 392px);
		padding: 5px 60px 5px 20px;
		overflow: hidden;

		&:after {
			content: "";
			width: 0;
			height: 0;
			display: block;
			border-width: 100px;
			border-color: lighten(color('gray'), 46%) lighten(color('gray'), 46%) transparent transparent;
			border-style: solid;
			position: absolute;
			bottom: 0;
			right: 0;
			pointer-events: none;
		}

		> span {
			width: 100%;
		}
		@include breakpoint(992px) {
			max-width: calc(100% - 300px);
		}
		@include breakpoint(767px) {
			max-width: 100%;
		}
	}

	span {
		color: $breadCrumbText;
		font-size: 15px;
	}

	a {
		color: $breadCrumbText;
		font-size: 15px;

		&:hover {
			color: $breadCrumbHover;
		}
	}
}

/** 404 CSS */
.content-404 {
	width: 100%;
	display: block;
	text-align: center;

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		position: relative;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	h2 {
		margin: 15px 0 30px;
	}

	.note-404 {
		margin-top: 30px;

		span {
			color: lighten(color('gray'), 25%);
			font-size: 60px;
			font-weight: 300;
			display: block;
		}
	}
}
/* contact details in privacy page and terms of use page */
.contact-details-sec ul {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		margin: 0;
		padding: 0 0 20px;

		+ li {
			border-top: 1px solid #d1d1d1;
			padding-top: 20px;
		}

		p {
			margin-bottom: 5px;
		}
	}
}
/** Alignments */

.alignleft {
	/*rtl:ignore*/
	float: left;
	/*rtl:ignore*/
	margin-right: 1rem;
}
@media only screen and (min-width: 768px) {
	.alignleft {
		/*rtl:ignore*/
		margin-right: calc(2 * 1rem);
	}
}

.alignright {
	/*rtl:ignore*/
	float: right;
	/*rtl:ignore*/
	margin-left: 1rem;
}
@media only screen and (min-width: 768px) {
	.alignright {
		/*rtl:ignore*/
		margin-left: calc(2 * 1rem);
	}
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	display: block;
	pointer-events: none;
}


// product-listing page
.product-listing {
	background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-bottom: 2px solid color('brand-primary');
	border-top: 2px solid color('brand-primary');

  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: color('brand-secondary');
    opacity: 0.8;
  }
	ul {
		flex-wrap: wrap-reverse;
		flex-direction: row-reverse;

    li {
      .product-image {
        padding-top: 100%;
        &:before {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: color('black');
          opacity: 0.3;
          z-index: 9;
          transition: 0.5s ease all;
        }
      }

      &:hover {
        .product-image {
          &:before {
            background: color('brand-primary');
            opacity: 0.6;
          }
        }
      }

      h4 {
        top: 50%;
        left: 50%;
        width: 100%;
        height: auto;
        transform: translate(-50%, -50%);
        z-index: 99;
      }

			&.current_post {
				.product-image {
          &:before {
            opacity: 1;
						background: color('brand-primary');
          }
        }
			}
    }
  }
}

.product-details-top {
	overflow: hidden;
	border-bottom: 2px solid color('brand-primary');

	.wrapper {
		overflow: hidden;
	}

	.post-141 {
		.product-content {
				text-align: center;
		}
	}
	.product-content {
		&.cell-6 {
			padding-right: 50px;
			padding-bottom: 50px;
			@include breakpoint(992px) {
				padding: 0;
			}
		}

		ul {
			list-style: none;
			padding-left: 0;
			margin: 0;
		}
	}
	.product-image {
		width: 50%;
    padding-bottom: 50px;
    height: 100%;

		.innbaner {
			padding-top: 70%;
			@include breakpoint(1366px) {
				padding-top:80%;
			}
			@include breakpoint(1200px) {
				padding-top:100%;
			}
		}
	}

	// .post-141 {
	// 	.product-image {
	// 		display: none;
	// 	}
	// 	.product-content {
	// 		width: 100%;
	// 		padding-right: 0;
	// 		padding-bottom: 0;
	// 	}
	// }
}

.postid-140 {
	.product-details-top {
		border-bottom: none;
		.product-image .innbaner {
				padding-top: 90%;
		}
	}
}


.product-details-bottom {
	overflow: hidden;
	border-bottom: 2px solid color('brand-primary');

	.wrapper {
		overflow: hidden;
	}
	.product-content {
		padding-left: 50px;
		padding-bottom: 50px;
		@include breakpoint(992px) {
			padding: 0;
		}
		ul {
			list-style: none;
			padding-left: 0;
			margin: 0;
		}
	}
	.product-image {
		width: 50%;
    padding-bottom: 50px;
    height: 100%;
		@include breakpoint(992px) {
			position: relative;
			left: auto;
			top: auto;
			margin: auto;
			padding: 0;
			padding-bottom: 20px;
		}
		@include breakpoint(767px) {
			width: 85%;
		}

		.innbaner {
			padding-top: 80%;
			@include breakpoint(1200px) {
				padding-top: 100%;
			}
			@include breakpoint(992px) {
				padding-top: 60%;
			}
		}
	}
}

.banner-top {
	height: 35vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	&:before {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: color('black');
		opacity: 0.3;
	}
	.wrapper {
		height: 100%;
	}
	@include breakpoint(1024px) {
		height: 30vh;
	}
}

.contact-form-section {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-bottom: 2px solid color('brand-primary');
	&:before {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: color('brand-secondary');
		opacity: 0.8;
	}
	.form-section {
		max-width: 800px;
		margin: auto;
	}
	form {
			.submit-wrap {
				justify-content: center;
				align-items: center;
			}
	}

	.contact-information {
		.contact {
			a, h5, p {
				font-size: 18px;
				color: color('brand-primary');
				margin: 0;
				font-weight: 600;
				line-height: 1.5;
				display: inline-block;
				width: 100%;
				font-family: $font-base;
			}
			a:hover {
				color: color('black');
			}
			&:nth-child(1) {
				.detail {
					background-image: url('../../images/loc-title.png');
				}
			}
			&:nth-child(2) {
				.detail {
					background-image: url('../../images/loc-add.png');
				}
			}
			&:nth-child(3) {
				.detail {
					background-image: url('../../images/loc-call.png');
				}
				p {
					display: inherit;
				}
			}
			&:nth-child(4) {
				.detail {
					background-image: url('../../images/loc-hour.png');
				}
			}
		}
		.detail {
			background: color('brand-secondary');
			border: 2px solid color('brand-primary');
			padding: 30px 30px 30px 55px;
			background-repeat: no-repeat;
			background-position: 15px;
			background-size: 30px;
		}
	}
}

.location-map {
	height: 350px;
	width: 100%;
	@include breakpoint(767px) {
		height: 280px;
	}
	iframe {
		width: 100%;
		height: 100%;
	}
}


.border-active {
  border-bottom: none;
}
