@import
	"abstracts/variables",
	"abstracts/mixins";

.contact-us {
  padding: 40px 0;
	@include breakpoint(992px) {
		padding: 27px 0;
	}
	@include breakpoint(640px) {
		padding: 20px 0;
	}

  .contact-heading {
    a {
      &:hover {
        color: color('black');
      }
    }
  }
}
